@import "tailwindcss";

@theme inline {
    --color-background: var(--color-background);
    --color-surface-1: var(--color-surface-1);
    --color-foreground: var(--color-foreground);
    --color-primary: var(--color-primary);
    --color-primary-hover: var(--color-primary-hover);

}

@layer base {
    :root {
        --color-primary: oklch(0.61 0.124 231.28);
        --color-primary-hover: oklch(0.55 0.1099 231.28);
        --color-background: oklch(0.145 0 0);
        --color-surface-1: oklch(0.20 0 0);
        --color-foreground: oklch(0.985 0 0);
    }
}

@layer components {
    .btn {
        @apply inline-flex items-center justify-center gap-2 px-3 h-9 rounded-md cursor-pointer transition-colors duration-100 hover:duration-0;
    }

    .btn-icon {
        @apply w-5 h-5 px-0 py-0;
    }

    .btn-primary {
        @apply bg-primary text-white hover:bg-primary-hover shadow-sm shadow-primary/25;
    }

    .btn-ghost {
        @apply bg-transparent text-foreground hover:bg-foreground/10;
    }

    .btn-link {
        @apply text-primary hover:underline;
    }
}