---
import SidebarGroup from "@docs/components/SidebarGroup.astro";
import RootLayout from "@docs/layouts/RootLayout.astro";
import api from "@docs/lib/api";
import { ChevronDown } from "lucide-astro";

const response = await api.get("/doc");
const docSchema = response.data;
const paths = Object.entries(docSchema.paths).map(([key, value]) => key);
console.dir(paths);
---

<RootLayout title="Documentation" class="flex">
	<aside class="bg-surface-1 text-white w-72 overflow-y-auto">
		<div class="inline-flex items-center gap-1 m-4">
			<span class="text-xs">Xpert ERP /</span>
			<h1 class="font-semibold">Documentation</h1>
		</div>
		<div class="mt-4 mx-2 flex flex-col items-stretch">
			{
				[...Array(5).keys()].map((e, index) => (
					<SidebarGroup name={`Group ${index + 1}`} />
				))
			}
		</div>
	</aside>
	<main></main>
</RootLayout>
